@import "../../index.scss";

.nav-cont {
  background-image: linear-gradient($pink, $orange, $peach, $yellow);
  width: 10vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .nav-icon {
    color: white;
    font-size: 36px;
    margin-bottom: 5%;
  }

  
  .top-nav {
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

}